# Harekrushna sahu, 21-14-14

# Q1

In [1]:
x, y =[float(i) for i in input('enter two numbers by space:').split()]
print('sum of two numbers is:',x+y)

enter two numbers by space:5 2.6
sum of two numbers is: 7.6

# Q2

In [8]:
def grade(mark):
    if mark>=90:
        print('Grade is "O"')
    elif mark>=80:
        print('Grade is "A"')
    elif mark>=70:
        print('Grade is "B"')
    elif mark>=60:
        print('Grade is "c"')
    else:
        print('Grade is "F"')
grade(45)

Grade is "F"

# Q3

In [9]:
x,y,z = [float(i) for i in input('enter three numbers:').split()]
print('largest among three numbers is:',max(x,y,z))

enter three numbers:5 63 2.3
largest among three numbers is: 63.0

# Q4

In [10]:
x = int(input('enter how many lines you requred:'))
for i in range(x):
    for j in range(i+1):
        print('*',end = ' ')
    print()

enter how many lines you requred:5
*
* *
* * *
* * * *
* * * * *

# Q5

In [13]:
h = eval(input("Enter diamond's height: "))
for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

Enter diamond's height: 3
    *
   ***
  *****
   ***
    *

# Q6

In [14]:
h = 3
for i in range (h+1):
    print('*'*i)
for i in range(h-1,0,-1):
    print('*'*i)

*
**
***
**
*

# Q7

In [15]:
list = [10,2,3,'s',8,-0.8,'DIAT',(2,7)]
print('length is:',len(list))
print('element at index 0 is:',list[0])

length is: 8
element at index 0 is: 10

In [16]:
#adding an element to the list using + operator
list+['add']

[10, 2, 3, 's', 8, -0.8, 'DIAT', (2, 7), 'add']

In [17]:
list.append(999)
list

[10, 2, 3, 's', 8, -0.8, 'DIAT', (2, 7), 999]

In [18]:
list[-4:-2]

[-0.8, 'DIAT']

In [19]:
list.insert(0,'a')
list

['a', 10, 2, 3, 's', 8, -0.8, 'DIAT', (2, 7), 999]

In [20]:
list.remove('a')
list

[10, 2, 3, 's', 8, -0.8, 'DIAT', (2, 7), 999]

In [21]:
rlist = list[::-1]
rlist

[999, (2, 7), 'DIAT', -0.8, 8, 's', 3, 2, 10]

In [22]:
nlist = [2,4,7,9,0,-3,5,-55,0.999,0.8009]
nlist.sort()
print(nlist)

[-55, -3, 0, 0.8009, 0.999, 2, 4, 5, 7, 9]

# Q8

#dictionaries

In [32]:
dict = {'diat':62, 'krishna':14, 21:148}
dict

{'diat': 62, 'krishna': 14, 21: 148}

In [33]:
dict['chiku'] = 26
dict

{'diat': 62, 'krishna': 14, 21: 148, 'chiku': 26}

In [34]:
del dict[21]
dict

{'diat': 62, 'krishna': 14, 'chiku': 26}

In [35]:
dict

{'diat': 62, 'krishna': 14, 'chiku': 26}

In [36]:
'krishna' in dict

True

In [37]:
dict.keys()

dict_keys(['diat', 'krishna', 'chiku'])

In [38]:
dict.values()

dict_values([62, 14, 26])

In [39]:
dict.items()

dict_items([('diat', 62), ('krishna', 14), ('chiku', 26)])

In [40]:
dict['diat'] = 50
dict

{'diat': 50, 'krishna': 14, 'chiku': 26}

In [41]:
dict.update({'diat':69})
dict

{'diat': 69, 'krishna': 14, 'chiku': 26}

In [42]:
dict.pop('diat')
dict

{'krishna': 14, 'chiku': 26}

In [43]:
dict.update({'DIAT':59})
dict

{'krishna': 14, 'chiku': 26, 'DIAT': 59}

In [44]:
for i in dict:
    print(i)
    print(dict[i])

krishna
14
chiku
26
DIAT
59

In [45]:
dict_copy = dict.copy()
dict_copy

{'krishna': 14, 'chiku': 26, 'DIAT': 59}

In [46]:
dict.fromkeys(dict_copy)

{'krishna': None, 'chiku': None, 'DIAT': None}

In [47]:
dict.clear()
dict

{}

# Q9

In [48]:
l = [1,2,'dfg',78,1,2,5]
s = set(l)
print(s)
print(type(s))

{1, 2, 5, 78, 'dfg'}
<class 'set'>

In [49]:
for i in s:
    print(i)

1
2
5
78
dfg

In [50]:
s.add('krishna')
s

{1, 2, 5, 78, 'dfg', 'krishna'}

In [51]:
s1 = {'shyam', 'prakash'}
s.update(s1)
s

{1, 2, 5, 78, 'dfg', 'krishna', 'prakash', 'shyam'}

In [52]:
s.remove('krishna')
s

{1, 2, 5, 78, 'dfg', 'prakash', 'shyam'}

In [53]:
s.discard('shyam')
s

{1, 2, 5, 78, 'dfg', 'prakash'}

In [54]:
s.pop()
s

{2, 5, 78, 'dfg', 'prakash'}

In [55]:
s2 = {'pruthivi',56,'saikat'}
s3 = s.union(s2)
s3

{2, 5, 56, 78, 'dfg', 'prakash', 'pruthivi', 'saikat'}

In [56]:
print(s.intersection(s1))

{'prakash'}

In [57]:
print(s.symmetric_difference({1,78,5}))

{1, 2, 'prakash', 'dfg'}

In [58]:
print(s.clear())
s

None

set()

In [59]:
del s

# Q10

In [60]:
t = (3,5,6,'g', True,'g')
t

(3, 5, 6, 'g', True, 'g')

In [61]:
a = [5,6,7,'gh','sd']
t1 = tuple(a)
t1

(5, 6, 7, 'gh', 'sd')

In [62]:
t1 + t

(5, 6, 7, 'gh', 'sd', 3, 5, 6, 'g', True, 'g')

In [63]:
t * 2

(3, 5, 6, 'g', True, 'g', 3, 5, 6, 'g', True, 'g')

In [64]:
t.count('g')

2

In [65]:
t.index(True)

4

# Q11

In [66]:
list = [4,9,3,8,4,45,76,23,78]
def median (list):
    list.sort()
    k = int(len(list)/2)
    if len(list)%2 == 0:
        m = (list[k-1]+list[(k)])/2
    else:
        m = list[k]
    return m
median(list)

9

# Q12

In [67]:
list = [1,45,8,57,3,56,8,8,56,88,90,65,8,3,8,8]
print("Mode of List is",(max(set(list), key = list.count)))

Mode of List is 8

# Q13

In [68]:
list = [1,45,8,57,3,678,56,8,8,56,88,90,65,8,3,8,8]
m = sum(list)/len(list)
print("Mean of the list is",m)

Mean of the list is 70.0

# Q14

In [69]:
l1 = [23,'gh',False,9877]
l2 = [876,9876,654,True]
for element in l2:
    l1.append(element)
l1

[23, 'gh', False, 9877, 876, 9876, 654, True]

# Q15

In [70]:
list = [1,45,8,57,3,678,56,8,8,56,88,90,65,8,3,8,8]
l = list[1:4] + list[-4:-1]
l

[45, 8, 57, 8, 3, 8]

# Q16

In [71]:
list = [1,45,8,57,3,678,56,8,8,56,88,90,65,8,3,8,8]
print('maximum of list={}, minimum of list={}'.format(max(list),min(list)))

maximum of list=678, minimum of list=1

# Q17

In [119]:
list = [1,45,57,3,678,56,8,8,56,88,90,65,8,3,8,8]
def search (list,element):
    if element in list:
        print('Element {} is present in list.'.format(element))
        print('number of occurrences is',list.count(element))
        print('index of its first occurrence is',list.index(element))
search(list,8)

Element 8 is present in list.
number of occurrences is 5
index of its first occurrence is 6

# Q18

In [107]:
two_d_list = [[1,2,3],[-1,-2,-3],[8,9,0]]
two_d_list

[[1, 2, 3], [-1, -2, -3], [8, 9, 0]]

# Q19

In [117]:
list2d = [[1,2,3],[-1,-2,-3],[8,9,0],[6,9,'h','j',9]]
#1
for element in list2d:
    print(element)
print(".....................")
#2
for i in range(len(list2d)):
    print(list2d[i])
print(".....................")
#3
for i in range(len(list2d)):
    print(list2d[i])
    for element in list2d[i]:
        print(element)

[1, 2, 3]
[-1, -2, -3]
[8, 9, 0]
[6, 9, 'h', 'j', 9]
.....................
[1, 2, 3]
[-1, -2, -3]
[8, 9, 0]
[6, 9, 'h', 'j', 9]
.....................
[1, 2, 3]
1
2
3
[-1, -2, -3]
-1
-2
-3
[8, 9, 0]
8
9
0
[6, 9, 'h', 'j', 9]
6
9
h
j
9

# Q20

In [74]:
d2_list = [[j+i for j in range(3)] for i in range(3)]  
d2_list

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [101]:
list = [1,45,8,57,3,678,56,8,8,56,88,90,65,8,78,3,8,8]
splist1 = list[0:6]
splist2 = list[6-len(list):]
print(splist1, splist2)

[1, 45, 8, 57, 3, 678] [56, 8, 8, 56, 88, 90, 65, 8, 78, 3, 8, 8]

In [102]:
jlist = splist1 + splist2
jlist

[1, 45, 8, 57, 3, 678, 56, 8, 8, 56, 88, 90, 65, 8, 78, 3, 8, 8]